*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', sans-serif;
}

body{
    background-color: aliceblue;
}

nav{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid grey;
}

nav .logo{
    width: 50px;
    display: none;
    padding: 10px;
    border: 1px solid grey;
    margin: 5px;
    border-radius: 5px;
}

nav .logo:hover{
    border: 2px solid grey;
}

nav .nav_body .logo{
    margin-left: auto;
    margin-top: 10px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: 22px;
}
nav ul li{
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid white;
}

nav ul li:hover{
    background-color: white;
    color: purple;
    border: 1px solid grey;
}



@media (max-width: 600px){

    nav {
        position: relative;
    }
    nav .logo{
        display: block;
    }

    nav .nav_body{
        position: fixed;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        width: 90%;
        top: 0;
        left: 0;
        height: 100vh;
        background-color: azure;
        flex-direction: column;
        font-size: 2rem;
    }

    nav .nav_body ul{
        margin: auto;
        flex-direction: column;
        align-items: center;
    }

    .animation{
        animation: animSlider .5s 1 both linear;
        box-shadow: 10px 0px 100px 10px black;
    }

    @keyframes animSlider {
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0%);
        }
    }
}







main{
    padding: 10px;
    font-size: 150%;
}